.cont_campdiv{
    margin-bottom: 35px;
    width: 420px;
    position: relative;
    left: 50%; transform: translateX(-50%);
}
.e_firstblock{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_welc{
    display: inline-block;
    background: linear-gradient(90deg, #a80000 0%, #fe6262 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.cont_input{
    display: block;
    background-color: #111;
    border: #555 solid 1px;
    border-radius: 20px;
    text-align: center;
    height: 32px; width: 420px;
}
.cont_areainput{
    display: block;
    position: relative;
    left: 50%; transform: translateX(-50%);
    background-color: #111;
    border: #555 solid 1px;
    border-radius: 20px;
    text-align: center;
    height: 220px; width: 420px;
    min-height: 32px;
    resize: vertical;
}
.cont_camp_p{
    position: relative;
    font-weight: 600;
}
.cont_submitbutton{
    position: relative;
    left: 50%; transform: translateX(-50%);
    margin-bottom: 14px;
    color: #111;
    font-weight: 700;
    font-size: 0.9em;
    background-size: 300% 300%;
    background-position: left;
    background-image: linear-gradient(90deg, #a80000 0%, #fe6262 35%, #76ffcb 65%, #00a488 100%);
    border: black solid 0px;
    border-radius: 20px;
    width: 422px; height: 34px;
    transition: background 0.55s;
}
.cont_submitbutton:hover{
    background-position: right;
}
.cont_registeredmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.cont_registeredmsg img{
    height: 400px;
    margin: 20px 0;
    opacity: 0.7;
}
.cont_rm_top_p{
    font-weight: 700;
    font-size: 50px;
}
.cont_rm_bottom_p_1{
    font-size: 23px;
}
.cont_rm_bottom_p_2{
    margin-top: 1px;
    font-size: 15px;
    color: #777;
}
.cont_errormsg{
    text-align: center;
    color: #f44;
    font-size: 12px;
    font-weight: 400;
}
@media (max-width: 1170px){}
@media (max-width: 700px){
    .cont_registeredmsg img{
        height: 300px;
        margin: 20px 0;
        opacity: 0.7;
    }
    .cont_rm_top_p{
        font-weight: 700;
        font-size: 40px;
    }
    .cont_rm_bottom_p_1{
        font-size: 18px;
    }
    .cont_rm_bottom_p_2{
        margin-top: 3px;
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .cont_campdiv{
        width: 260px;
    }
    .cont_input{
        width: 260px;
    }
    .cont_areainput{
        width: 260px;
    }
    .cont_postwelc{
        font-size: 1.0em;
    }
    .cont_submitbutton{
        width: 262px;
    }
    .cont_submitbutton:after{
        width: 262px;
    }
    .cont_registeredmsg img{
        height: 230px;
        margin: 10px 0;
        opacity: 0.7;
    }
    .cont_rm_top_p{
        font-weight: 700;
        font-size: 33px;
    }
    .cont_rm_bottom_p_1{
        font-size: 15px;
    }
    .cont_rm_bottom_p_2{
        margin-top: 3px;
        font-size: 10px;
    }
}
@media (max-width: 350px){
    .cont_campdiv{
        width: 210px;
    }
    .cont_input{
        width: 210px;
    }
    .cont_areainput{
        width: 210px;
    }
    .cont_postwelc{
        font-size: 0.85em;
    }
    .cont_submitbutton{
        width: 212px;
    }
    .cont_submitbutton:after{
        width: 212px;
    }
    .cont_registeredmsg img{
        height: 170px;
        margin: 7px 0;
        opacity: 0.7;
    }
    .cont_rm_top_p{
        font-weight: 700;
        font-size: 27px;
    }
    .cont_rm_bottom_p_1{
        font-size: 13px;
    }
    .cont_rm_bottom_p_2{
        margin-top: 3px;
        font-size: 9px;
    }
}