.flex-container{
    text-align: center;

}
.elem-container{
    position: relative;
    display: inline-block;
    width: 400px; height: 500px;
    background-color: #222;
    border: #555 solid 1px;
    border-radius: 13px;
    margin: 40px 20px;
    text-decoration: none;
    transition: all 0.35s;
    z-index: 0;
    text-align: center;
    overflow: hidden;
}
.elem-container:hover{
    transform: scale(1.05);
}
.jueg_welc_msg{
    padding-top: 35px;
}
.elem_bc{
    position: absolute;
    width: 100%; height: 100%;
    left: 0;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.12;
    z-index: -100;
}
.elem_thumbnail{
    width: 100%;
    transform: scale(0.93);
    border-radius: 13px;
    border: #555 solid 1px;
}
.elem-container p{
    margin: 5px 20px;
    font-size: 13px;
}
.elem-container h3{
    position: absolute;
    margin-bottom: 7px;
    bottom: 0;
    width: 100%;
    font-weight: 600;
}
.jueg-welc{
    background: linear-gradient(90deg, #0063e2 0%, #87e8ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 500px){
    .elem-container{
        width: 285px; height: 355px;
        margin: 20px 20px;
    }
    .elem-container p{
        margin: 5px 20px;
        font-size: 11px;
        margin: 5px 12px;
    }
    .elem-container h3{
        font-size: 14px;
    }
    .jueg_welc_msg{
        font-size: 1.65em;
    }
    .cont_postwelc{
        font-size: 0.95em;
    }
}
@media (max-width: 350px){
    .elem-container{
        width: 220px; height: 280px;
        margin: 12px 20px;
    }
    .elem-container p{
        margin: 5px 20px;
        font-size: 9px;
        margin: 5px 12px;
    }
    .elem-container h3{
        font-size: 12px;
    }
    .jueg_welc_msg{
        font-size: 1.55em;
    }
    .cont_postwelc{
        font-size: 0.83em;
    }
}