.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
*{
    margin: 0; padding: 0;
    font-family: Poppins;
    color: #fff;
}
h1,h2,h3{
    text-align: center;
}
h2{
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: 500;
    font-size: 1.12em;
}
hr{
    border: none;
    border-bottom: #333 solid 1px;
    width: 75vw; margin: auto;
}
.material-symbols-rounded.hr_arrow{
    color: #555;
    display: block;
    width: 27px; height: 27px;
    font-size: 27px;
    margin: auto;
    user-select: none;
}
body{
    background-color: rgb(10,10,10);
}
.index_body{
    background-image: url('generalimages/body_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.black_background{
    background-color: rgb(10,10,10);
}
header{
    background-color: #222;
    height: 60px; width: 100%;
    display: inline-block;
    position: relative;
}
.homeheaderlink{
    transform: scale(0.75);
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    transition: all 0.35s;
}
.homeheaderlink:hover{
    transform: scale(0.85);
}
.homeheaderlink img{
    height: 100%;
    filter: drop-shadow(3px 4px 4px #000a);
}
.headerlinks{
    display: inline-block;
    position: absolute;
    top: 50%; transform: translateY(-50%);
}
.headerlinks a{
    padding: 3px 8px;

    border-radius: 20px;
    display: inline-block;
    margin-left: 2px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.35s;
}
.headerlinks a img{
    height: 23px;
    vertical-align: -6px;
    margin-right: 6px;
    filter: invert(100%);
}
.headerlinks a:hover{
    background-color: #333;
}
.searchdiv
{
    display: inline-block;
    position: absolute;
    top:0;bottom:0;left:0;right:0;margin:auto;
    height: 34px; width: 290px;
    text-align: center;
}
.searchbar{
    display: inline-block;
    position: relative;
    background-color: #111;
    border: #555 solid 1px;
    border-radius: 20px;
    text-align: center;
    height: 32px; width: 240px;
}
.searchbutton{
    display: inline-block;
    height: 32px; width: 32px;
    background-color: #111;
    border-radius: 20px;
    border: #555 solid 1px;
}
.searchbutton img{
    vertical-align: middle;
    transform: scale(0.6);
    height: 100%;
    width: 100%;
    filter: /*#555*/ brightness(0)invert(33%)sepia(0%)saturate(0%)hue-rotate(184deg)brightness(87%)contrast(79%);
}
footer{
    background-color: #222;
    height: 40px; width: 100%;
    display: inline-block;
    position: relative;
}
footer a{
    line-height: 40px;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 500;
    font-size: 0.95em;
}
.black_background{
    background-color: rgb(10,10,10);
}
.flex-container{
    display: flex;
    justify-content: center;
}
.void{
    height: 400px;
}
.voidchar{
    color: #0000;
    line-height: 0;
}
.main{
    width: 100%;
    min-height: calc(100vh - (60px + 40px)); /* min-height = 100% - header y footer */
    position: relative;
}
.mobile-header{
    display: none;
}
.mobile-startsearch{
    display: inline-block;
    position: absolute;
    top:50%; transform: translateY(-50%);
    left: 435px;
    height: 32px; width: 32px;
    background-color: #111;
    border-radius: 20px;
    border: #555 solid 1px;
}
.mobile-startsearch img{
    transform: scale(0.6);
    height: 100%;
    width: 100%;
    filter: /*#555*/ brightness(0)invert(33%)sepia(0%)saturate(0%)hue-rotate(184deg)brightness(87%)contrast(79%);
    user-select: none;
}
.mobile-searchbar{
    display: block;
    position: relative;
    left: -100vw;
    opacity: 0;
    height: 34px; width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #111;
    border: #555 solid 1px;
    z-index: 100;
    transition: all 0.45s;
}
.first_black_background_section{
    display: flex;
    width: 100%;
    height: 370px;
    justify-content: center;
    align-items: center;
}
.contactbutton{
    color: #111;
    font-weight: 700;
    font-size: 0.9em;
    background-size: 300% 300%;
    background-position: left;
    background-image: linear-gradient(90deg, #5d68f5 0%, #aca3ff 35%, #76ffcb 65%, #00a488 100%);
    border: none;
    border-radius: 9999px;
    width: 150px; height: 50px;
    transition: background 0.55s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
}
.contactbutton:hover{
    background-position: right;
}
.welc_msg{
    text-align: left;
    display: inline-block;
    margin-right: 570px;
}
.welc_msg2{
    padding-top: 35px;
    text-align: center;
}
.all_elements{
    max-width: 1370px;
    margin: auto;
}
.all_elements_disc{
    max-width: 1000px;
    margin: auto;
}
.welc_msg_firstSpan{
    display: block;
    line-height: 100%;
    font-weight: 600;
    font-size: 0.83em;
}
.welc_msg_hl{
    font-size: 1.47em;
    line-height: 120%;
    background: linear-gradient(90deg, #5d68f5 0%, #aca3ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welc_msg_secondSpan{
    display: block;
    line-height: 130%;
    font-weight: 500;
    font-size: 0.55em;
    margin-top: 10px;
    width: 430px;
    text-align: left;
}
.whoim_div{
    background-color: #212133;
    position: relative;
    padding: 20px;
    margin: 23px auto;
    border-radius: 24px;
    max-width: 900px;
    transition: all 0.35s;
}
.whoim_div:hover{
    transform: scale(1.03);
}
.title{
    text-align: center;
    font-weight: 600;
    font-size: 1.65em;
}
.descrip-parraf{
    text-align: center;
    margin: 12px auto;
    font-weight: 500;
}
.whoim_highlight{
    color: #aaf;
    font-weight: 600;
}
.blueblock{
    background: linear-gradient(90deg, rgba(33,33,51,1) 0%, rgba(14,14,23,1) 100%);
    height: 500px;
    text-align: center;
}
.blueblock img{
    margin-top: 10px;
    height: 83%;
    opacity: 0.8;
    transition: all 0.35s;
}
.blueblock img:hover{
    height: 87%;
    margin-top: 0px;
}
.blocktitle{
    padding-top: 12px;
    font-size: 1.65em;
    font-weight: 600;
    text-align: center;
}
.blackblock{
    background-color: rgb(10,10,10);
    height: 500px;
    text-align: center;
}
.blackblock img{
    margin-top: 10px;
    height: 83%;
    opacity: 0.8;
    transition: all 0.35s;
}
.blackblock img:hover{
    height: 87%;
    margin-top: 0px;
}
/*SPECIAL*/@media (max-width: 1230px){
    .welc_msg{
        margin-right: 330px;
    }
    .welc_msg_firstSpan{
        font-size: 0.70em;
    }
    .welc_msg_hl{
        font-size: 1.23em;
    }
    .welc_msg_secondSpan{
        font-size: 0.46em;
        width: 360px;
        margin-top: 7px;
    }
}
@media (max-width: 1170px){
    .homeP{
        font-size: 0.8em;
    }
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .blueblock{
        height: 400px;
    }
    .blueblock img{
        height: 75%;
    }
    .blueblock img:hover{
        height: 79%;
        margin-top: 5px;
    }
    .blackblock{
        height: 400px;
    }
    .blackblock img{
        height: 75%;
    }
    .blackblock img:hover{
        height: 79%;
        margin-top: 5px;
    }
    .blocktitle{
        font-size: 1.4em;
    }
    .title{
        font-size: 1.35em;
    }
    .descrip-parraf{
        font-size: 0.9em;
    }
}
/*SPECIAL*/@media (max-width: 970px){
    .whoim_div{
        max-width: 88%;
    }
    .welc_msg{
        margin-right: 200px;
    }
    .welc_msg_firstSpan{
        font-size: 0.60em;
    }
    .welc_msg_hl{
        font-size: 1.07em;
    }
    .welc_msg_secondSpan{
        font-size: 0.40em;
        width: 310px;
        margin-top: 7px;
    }
}
@media (max-width: 770px){
    .first_black_background_section{
        flex-direction: column;
    }
    .welc_msg{
        margin-right: 0;
        margin-bottom: 23px;
    }
    .welc_msg_firstSpan{
        font-size: 0.70em;
        text-align: center;
    }
    .welc_msg_hl{
        font-size: 1.30em;
        display: block;
        text-align: center;
    }
    .welc_msg_secondSpan{
        font-size: 0.40em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 7px;
    }
}
@media (max-width: 500px){
    .first_black_background_section{
        flex-direction: column;
    }
    .welc_msg{
        margin-right: 0;
        margin-bottom: 23px;
    }
    .welc_msg_firstSpan{
        font-size: 0.50em;
        text-align: center;
    }
    .welc_msg_hl{
        font-size: 0.87em;
        display: block;
        text-align: center;
    }
    .welc_msg_secondSpan{
        font-size: 0.33em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 7px;
        width: 270px;
    }
    .contactbutton{
        font-size: 0.87em;
        height: 40px;
        width: 130px;
    }
    .homeP{
        font-size: 0.5em;
    }
    .headerlinks a{
        font-size: 0;
        margin-left: 10px;
    }
    .headerlinks a img{
        margin-right: 0;
    }
    .mobile-startsearch{
        left: 235px;
    }
    .startsearch-largehitbox{
        left: 233px;
    }
    .blueblock{
        height: 300px;
    }
    .blueblock img{
        height: 68%;
    }
    .blueblock img:hover{
        height: 72%;
        margin-top: 5px;
    }
    .blackblock{
        height: 300px;
    }
    .blackblock img{
        height: 68%;
    }
    .blackblock img:hover{
        height: 72%;
        margin-top: 5px;
    }
    .blocktitle{
        font-size: 1.2em;
    }
    .title{
        font-size: 1.0em;
    }
    .descrip-parraf{
        font-size: 0.65em;
    }
    .whoim_div{
        max-width: 84%;
    }
}
@media (max-width: 350px)
{
    .homeP{
        font-size: 0.48em;
    }
    .blueblock{
        height: 200px;
    }
    .blueblock img{
        height: 68%;
    }
    .blueblock img:hover{
        height: 72%;
        margin-top: 5px;
    }
    .blackblock{
        height: 200px;
    }
    .blackblock img{
        height: 68%;
    }
    .blackblock img:hover{
        height: 72%;
        margin-top: 5px;
    }
    .blocktitle{
        font-size: 1.0em;
    }
    .title{
        font-size: 0.85em;
    }
    .descrip-parraf{
        font-size: 0.5em;
    }
    .whoim_div{
        max-width: 80%;
    }
}